
nav{
  box-sizing: border-box;
  border: 2px solid rgb(245, 15, 249);
  background-color: #fff;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  align-items: center;
}

nav h2{
  margin-left: 11px;
  cursor: pointer;
  color: #000;
}

nav h2 span{
  font-style: italic;
  color: rgb(245, 15, 249);
}

nav ul{
  flex: 1;
  text-align: center;
}

nav ul li{
  display: inline-block;
  margin: 10px 20px;
  padding: 4px;
}

nav ul li a{
  padding: 15px;
  text-decoration: none;
  color: #000;
  transition: 2s;

}

nav ul li a:hover{
  box-shadow: 0 5px 20px rgb(245, 15, 249) inset, 0 5px 20px rgb(245, 15, 249) inset,
  0 5px 20px rgb(245, 15, 249) inset,0 5px 20px rgb(245, 15, 249) inset;
}

nav .btn{
  color: #000;
  text-decoration: none;
  margin-right: 25px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 12px;
  background-color: rgb(245, 15, 249);   
}

body {
  background: linear-gradient(
    90deg,
    hsla(238, 100%, 71%, 1) 0%,
    hsla(295, 100%, 84%, 1) 100%
  );
}
.container {
  margin-top: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.board {
  width: 40rem;
  height: 40rem;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.tile {
  position: absolute;
  width: 5rem;
  border: 1px solid black;
  height: 5rem;
}

.ball {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  position: absolute;
  background: linear-gradient(
    90deg,
    hsla(14, 90%, 73%, 1) 0%,
    hsla(331, 54%, 44%, 1) 100%
  );
  z-index: 3;
}

.anim {
  transition: all 0.4s;
}


header{
  background-color: whitesmoke;
  width: 100vw;
}

#header{
  font-size: 48px;
    background: linear-gradient(89.87deg, #9747ff .17%, #12ffe3 132.64%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    max-width: 90%;
    margin: auto auto;
    text-align: center;
}

.nav-keys {
  margin-top: 2rem;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.footer {
  background-color: black;
  color: rgb(255, 204, 182);
  text-align: center;
  position: absolute;
  left: calc(37%);
  bottom: 0;
  font-size: x-large;
  border-radius: 7px;
  margin-bottom: 5px;
  padding: 6px 12px;
  font-weight: bolder;
  display: block;
}

